__pycache__
Interfaces/__pycache__/formAlterarCategoria.cpython-314.pyc
Interfaces/__pycache__/formArtigos.cpython-314.pyc
Interfaces/__pycache__/formCategorias.cpython-314.pyc
Interfaces/__pycache__/formCliente.cpython-314.pyc
Interfaces/__pycache__/formEncomendas.cpython-314.pyc
Interfaces/__pycache__/formNovaCategoria.cpython-314.pyc
Interfaces/__pycache__/formPrincipal.cpython-314.pyc
Interfaces/__pycache__/formAlterarCategoria.cpython-314.pyc
Interfaces/__pycache__/formArtigos.cpython-314.pyc
Interfaces/__pycache__/formCategorias.cpython-314.pyc
Interfaces/__pycache__/formCliente.cpython-314.pyc
Interfaces/__pycache__/formEncomendas.cpython-314.pyc
Interfaces/__pycache__/formNovaCategoria.cpython-314.pyc
Interfaces/__pycache__/formPrincipal.cpython-314.pyc
Interfaces/__pycache__/formAlterarCategoria.cpython-314.pyc
Interfaces/__pycache__/formArtigos.cpython-314.pyc
Interfaces/__pycache__/formCategorias.cpython-314.pyc
Interfaces/__pycache__/formCliente.cpython-314.pyc
Interfaces/__pycache__/formEncomendas.cpython-314.pyc
Interfaces/__pycache__/formNovaCategoria.cpython-314.pyc
Interfaces/__pycache__/formPrincipal.cpython-314.pyc
Interfaces/__pycache__/formAlterarCategoria.cpython-314.pyc
Interfaces/__pycache__/formArtigos.cpython-314.pyc
Interfaces/__pycache__/formCategorias.cpython-314.pyc
Interfaces/__pycache__/formCliente.cpython-314.pyc
Interfaces/__pycache__/formEncomendas.cpython-314.pyc
Interfaces/__pycache__/formNovaCategoria.cpython-314.pyc
Interfaces/__pycache__/formPrincipal.cpython-314.pyc
