__pycache__/form_artigos.cpython-314.pyc
__pycache__/base_dados.cpython-314.pyc
__pycache__/form_alterar_categoria.cpython-314.pyc
__pycache__/form_categorias.cpython-314.pyc
__pycache__/form_cliente.cpython-314.pyc
__pycache__/form_encomendas.cpython-314.pyc
__pycache__/form_nova_categoria.cpython-314.pyc
__pycache__/form_principal.cpython-314.pyc
__pycache__/funcoes_gerais.cpython-314.pyc
